/* Main CSS File.
 *
 * I have organized this file such that the highest level elements are styled
 * first and lower level elements are styled later on.
 *
 * Towards the end, page specific syles are defined. These are marked with
 * comments so that it isn't confusing where those styles begin and end.
 **/

:root {
    --secondary1-color: AntiqueWhite;
    --secondary2-color: Beige;
    --secondary3-color: white;
    --primary-color:    WhiteSmoke;
    --highlight-color:  #499F68;
}

html {
    margin: 0;
}
body {
    margin: 0;
}

/* org places all the content defined in an org file under a single element in
 * the body. This element has a class and ID of "content". I really don't want
 * to do anything special with this right now, so I am having it cover the
 * viewport
 *
 * Since org includes some default styling for both the ID and class, I unset
 * the properties of interest.
 **/
#content {
    max-width: unset;
    margin: unset;
}
.content {
    max-width: unset;
    margin: unset;
    position: relative;

    display:flex;
    min-height: calc(100vh - 65px);
    flex-direction: column;

    width: calc(100% - 200px);
    left: 200px;
    top: 65px;
}

/* The title, nav, and table of contents are all children of the content
 * element. Again, this is due to how org-export works.
 **/
.title {
    background-color: var(--secondary1-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
    border-spacing: 0 0;
    z-index: 2;
}

nav {
    position: fixed;
    background-color: var(--secondary1-color);
    padding: 1px;
    border-top: 1px solid  black;
    border-bottom: 3px groove black;
    left: 0;
    top: 40px;
    width: 100%;
    height: 25px;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
    border-spacing: 0 0;
    z-index: 2;
}

/* Table of Contents formatting.
 *
 * since I want the table of contents to be located on the side, this is the
 * only element which is statically positioned. All other elements are
 * positioned in the document flow.
 **/
#table-of-contents {
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: var(--secondary2-color);
    padding: 5px;
    border-right: 1px dashed black;
    box-sizing: border-box;
    z-index: 1;
}
#table-of-contents h2 {
    font-size: 17pt;
    margin-top: 0px;
}

/* for the blog-post style pages, I put all the top level outlines in div so
 * that their width can be adjusted properly. The table of contents on the side
 * makes scaling a little difficult.
*/
.blog-content {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;

    flex: 1;

    padding-bottom: 10px;

    background-color: var(--secondary1-color);
    z-index: 1;
}

/* Blog post style for the headings. */
.blog-content .outline-2 {
    position: relative;

    top: 10px;

    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;
    padding-top: 1px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 1px solid black;

    max-width: 750px;

    left: 0;
    text-align: left;
    background-color: var(--secondary3-color);
    transition: width 0.3s ease;
}

.blog-content p {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
}

/* Customization for the Religion page links
 **/

.link-list {
    position: relative;
    display: block;
    background-color: var(--secondary1-color);
    flex: 1;

}

.link-list .outline-2 {
    position: relative;

    top: 10px;

    max-width: 95%;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid black;
    border-radius: 1px;
    background-color: var(--secondary3-color);
    padding: 5px;
    margin-bottom: 10px;

    text-align: left;
    transition: width 0.3s ease;
}

.link-list h2 {
    margin: 0px;
    font-size: 14pt;
}

.link-list p {
    font-family: monospace;
    font-size: 10pt;
}

/* Customization for the Portfolio Page
 **/
.portfolio-content {
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    min-height: 100%;
    z-index: 1;
    background-color: var(--secondary3-color);
}

blockquote {
    font-style: italic;
    border-left: 3px solid darkgray;
    padding-left: 10px;
}


/* Portfolio JS test
 */
.test-content {
    display: block;
}

#red-block {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    left: 80px;
    top: 10px;

    width: 75px;
    height: 75px;
    background-color: red;
}
